PORT=
MONGO_URI=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Optional seed config
SEED_USER_USERNAME=
SEED_USER_EMAIL=
SEED_USER_FIRST_NAME=
SEED_USER_LAST_NAME=
SEED_USER_PASSWORD=
SEED_SUBSCRIPTION_TYPE=
SEED_SUBSCRIPTION_STATUS=
SEED_ADMIN_USERNAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_FIRST_NAME=
SEED_ADMIN_LAST_NAME=
SEED_ADMIN_PASSWORD=